gls {
   process.executor = 'google-lifesciences'
   workDir = 'gs://<bucket>/workdir'
   google.location = 'europe-west4'
   google.region  = 'europe-west4'
   google.project = '<project_id>'
   google.lifeSciences.preemptible = true
   google.lifeSciences.network = 'global/networks/nf-vpc'
   google.lifeSciences.subnetwork = 'regions/europe-west4/subnetworks/nf-vpc'
}
